/* Resets and general styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 10rem;
    overflow-x: hidden;
    height: 100%;
}

body {
    position: relative;
    padding-bottom: 10rem;
    min-height: 100vh;
    font-family: "open-sans", sans-serif;
}

/* Navigation */
.navbar {
    background: #0a1a4d;
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 1.2rem;
    padding-bottom: 1rem;
    z-index: 1;
}

.nav-list {
    display: none;
    list-style: none;
}

.nav-item {
    text-align: center;
    margin: 1.5rem auto;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

    .nav-link:hover {
        text-decoration: underline;
    }

.logo-container {
    padding: .5rem .8rem;
    padding-left: 1.5rem;
}

.logo {
    width: 240px;
}

.toggle {
    position: absolute;
    top: 1.1rem;
    right: 1rem;
    cursor: pointer;
    font-size: 1.6rem;
    color: #fff;
}

/* Add this class through JS to display the menu on click */
.active {
    display: block;
}

/* Footer */
.footer {
    background: #0a1a4d;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 1rem;
}

    .footer ul li {
        list-style: none;
        display: inline-block;
        margin: .5rem;
    }

        .footer ul li:hover {
            text-decoration: underline;
        }

        .footer ul li a {
            color: #fff;
        }

.fa-brands {
    background: rgba(255, 63, 4, 0.9);
    color: #fff;
    font-size: 1.5rem;
    padding: .6rem;
    margin-top: .5rem;
    border-radius: 50%;
}

    .fa-brands:hover {
        color: #0a1a4d;
    }

    .footer-copyright {
        color: #fff;
        margin-bottom: 1rem;
    }
/* Titles */
.home-title,
.animal-title,
.signup-title,
.about-title {
    font-size: 1.7rem;
    text-align: center;
    margin: 1.5rem;
    color: #0a1a4d;
}

/* Front page */
.home-section {
    margin-bottom: 3rem;
}

.hero-img {
    background-image: url("https://images.unsplash.com/photo-1511275539165-cc46b1ee89bf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 40vh;
}

.hero-text {
    text-align: center;
    color: #fff;
    position: relative;
    top: 18rem;
}

    .hero-text > p {
        font-size: 2rem;
        font-weight: 800;
    }

.bestfriend {
    color: #FF3F04;
}

.container {
    max-width: 800px;
    width: 90%;
    margin: 0 auto;
    padding: 1rem;
}

    .container > p {
        font-size: 1.1rem;
        line-height: 1.6;
        margin-bottom: 1rem;
        color: #0a1a4d;
    }

/* Animals page */
.animal-section {
    margin-top: 8rem;
    margin-bottom: 4rem;
}

.animal-text {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1rem;
    color: #0a1a4d;
}

.sign-up-container {
    background: rgba(255, 63, 4, 0.9);
    max-width: 300px;
    margin: 0 auto;
    padding: .7rem 1rem;
    text-align: center;
}

    .sign-up-container:hover {
        background: #0a1a4d;
    }

.sign-up-link {
    color: #fff;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 2rem;
}

    .sign-up-link:hover {
        color: rgba(255, 63, 4, 0.9);
    }

.cards {
    max-width: 500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    padding: 1rem;
}

.card {
    background: rgba(255, 63, 4, 0.9);
}

.card-content {
    padding: .6rem;
    color: #fff;
}

.card-img {
    width: 100%;
}

/* Sign up page */
.signup-section {
    margin-top: 8rem;
}

.signup-text {
    max-width: 450px;
    width: 90%;
    margin: 0 auto;
    color: #0a1a4d;
}

    .signup-text > p {
        margin-bottom: 1rem;
    }

.form-container {
    width: 85%;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
    border: 1px solid #0a1a4d;
}

    .form-container h3 {
        text-transform: uppercase;
        color: #0a1a4d;
        margin-bottom: 0.7rem;
        font-size: 1.8rem;
        font-weight: 700;
    }

.form-text {
     color: #0a1a4d;
}

.form-container > div {
    margin-bottom: 1.5rem;
}

.form-item {
    margin-bottom: 0.7rem;
}

label,
input,
select,
textarea {
    display: block;
    width: 100%;
    font-size: 1rem;
    line-height: 1.4;
    color: #0a1a4d;
}

label {
    margin-bottom: .2rem;
}

input,
textarea {
    border: 1px solid #0a1a4d;
}

input,
select,
textarea {
    padding: .2rem;
    background: #fafafad9;
    resize: none;
}

.form-error-msg {
    position: relative;
    top: 1rem;
    display: block;
    margin-top: -.6rem;
    margin-bottom: 2rem;
    color: #d62828;
    font-size: .9rem;
}

.form-btn {
    background: rgba(255, 63, 4, 0.9);
    color: #fff;
    border: 0;
    cursor: pointer;
    text-transform: uppercase;
    width: 100%;
    padding: .5rem 1rem;
    font-size: 1rem;
    font-weight: 700;
}

    .form-btn:hover {
        background: #0a1a4d;
        color: rgba(255, 63, 4, 0.9);
    }

/* About us page */
.about-section {
    margin-top: 8rem;
}

.about-container {
    width: 90%;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 1rem;
    padding-top: 3rem;
}

.left-container > h2 {
    margin-bottom: 1rem;
    color: #0a1a4d;
}

.left-container > p {
    margin-bottom: 1rem;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #0a1a4d;
}

.right-container > img {
    width: 100%;
}

/* From 768px screens and up */
@media screen and (min-width: 768px) {
    /* Navigation */
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 0;
    }

    .nav-list {
        display: flex;
        flex-direction: row;
    }

    .nav-item {
        padding: 0 1rem;
    }

    .toggle {
        display: none;
    }

    .logo {
        width: 310px;
    }

    /* Footer */
    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4rem;
    }

    .footer-copyright {
        margin-bottom: 0;
    }

    /* Titles */
    .home-title,
    .animal-title,
    .signup-title,
    .about-title {
        font-size: 2.2rem;
    }

    /* Front page */
    .hero-img {
        height: 60vh;
    }

    .hero-text {
        top: 22rem;
    }

        .hero-text > p {
            font-size: 5rem;
        }

    .container > p {
        font-size: 1.2rem;
    }

    /* Animals page */
    .cards {
        max-width: 1000px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        padding: 1rem;
    }

    /* About us page */
    .about-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        max-width: 1500px;
        margin: 0 auto;
        margin-top: 5rem;
    }

    .left-container {
        width: 50%;
        padding: 2rem;
    }

        .left-container > p {
            font-size: 1.2rem;
        }

    .right-container {
        width: 50%;
    }
}


@media screen and (min-width: 1200px) {
    /* Animals page */
    .cards {
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        padding: 1rem;
    }
}
