@using AnimalAdoption.Models
@model AnimalAdoption.Models.PersonModel

@{
    ViewData["title"] = "Sign up";
}

<section class="signup-section">
    <h1 class="signup-title">Sign up to adopt a tiny friend</h1>

    <div class="signup-text">
        <p>Thank you for your interest in saving a life by adopting a pet!</p>
    </div>

    <div>
        <article class="form-container">
            <div>
                <h3>Tiny Friends Sanctuary</h3>
                <span class="form-text">We will get in touch with you via phone</span>
            </div>
            <form method="post">
                <div asp-validation-summary="ModelOnly"></div>
                <!-- First name -->
                <div class="form-item">
                    <label asp-for="FirstName"></label>
                    <input asp-for="FirstName" />
                    <span class="form-error-msg" asp-validation-for="FirstName"></span>
                </div>
                <!-- Last name -->
                <div class="form-item">
                    <label asp-for="LastName"></label>
                    <input asp-for="LastName" />
                    <span class="form-error-msg" asp-validation-for="LastName"></span>
                </div>
                <!-- Email -->
                <div class="form-item">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" />
                    <span class="form-error-msg" asp-validation-for="Email"></span>
                </div>
                <!-- Phone number -->
                <div class="form-item">
                    <label asp-for="PhoneNo"></label>
                    <input asp-for="PhoneNo" />
                    <span class="form-error-msg" asp-validation-for="PhoneNo"></span>
                </div>

                <!-- Animal category -->
                <div class="form-item">
                    <label asp-for="AnimalCategory"></label>
                    @Html.DropDownListFor(m => m.AnimalCategory, new SelectList(Enum.GetValues(typeof(Category))))
                    <span class="form-error-msg" asp-validation-for="AnimalCategory"></span>
                </div>

                <!-- Gender -->
                <div class="form-item">
                    <label asp-for="Gender"></label>
                    <div class="radio-container">
                        @foreach (var gender in Model.Genders)
                        {
                            <input type="radio" asp-for="Gender" value="@gender" />@gender <br />
                        }
                    </div>
                    <span class="form-error-msg" asp-validation-for="Gender"></span>
                </div>

                <!-- Message -->
                <div class="form-item">
                    <label for="message">Message (optional)</label>
                    <textarea name="message" id="message" cols="30" rows="7"></textarea>
                </div>
                <div class="form-item">
                    <button class="form-btn" aria-label="Send form">Sign up</button>
                </div>
            </form>
        </article>
    </div>
</section>