@{
    ViewData["title"] = "Sign up";
}

<section class="signup-section">
    <h1 class="signup-title">Sign up to adopt a tiny friend</h1>

    <div class="signup-text">
        <p>Thank you for your interest in saving a life by adopting a pet!</p>
        @*<p>Fill in the form below and we will get in touch with you regarding the next steps.</p>*@
    </div>

    <div>

    </div>
</section>