<footer class="footer">
    <div class="footer-copyright">
        <p>Copyright &copy; 2023 All Rights Reserved.</p>
    </div>
    <div>
        <ul class="menu">
            <li><a href="#">Our mission</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Regulations & policies</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </div>
    <div>
        <ul class="icons">
            <li><a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-square"></i></a></li>
            <li><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="https://www.twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
        </ul>
    </div>
</footer>