<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto+Mono:wght@200;300;400&display=swap"
          rel="stylesheet" />
    <link rel="icon" href="/Images/car.png" />
    <link rel="stylesheet" href="~/css/main.css" />
    <title>@ViewData["title"]</title>
</head>
<body>
    <!-- Main menu -->
    <header>
        <nav class="navbar" id="navbar">
            <span class="toggle" id="toggle">
                <i class="fas fa-bars"></i>
            </span>
            <a href="#" class="logo">LOGO</a>
            <ul class="nav-list" id="nav-list">
                <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Animals</a></li>
                <li class="nav-item"><a href="#" class="nav-link">About us</a></li>
            </ul>
        </nav>
    </header>
    <main>@RenderBody()</main>
    @*<footer class="footer">Footer</footer>*@
    <footer class="footer">
        <ul class="icons">
            <li><a href="#"><i class="fa-brands fa-facebook-square"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
        </ul>
        <ul class="menu">
            <li><a href="#">Our mission</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Regulations & policies</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
        <div class="footer-copyright">
            <p>Copyright &copy; 2023 All Rights Reserved.</p>
        </div>
    </footer>
    <script src="~/js/app.js"></script>
</body>
</html>