@model List<AnimalAdoption.Models.PersonModel>
@{
    ViewData["title"] = "Home";
}

<!-- Hero section -->
<div class="hero-img">
    <div class="hero-text">
        <p>Adopt your <span class="bestfriend">best friend</span></p>
    </div>
</div>

<!-- Content under the hero section -->
<section class="home-section">
    <div>
        <h1 class="home-title">Welcome to Tiny Friends Sanctuary</h1>
    </div>
    <div class="container">
        <p>Here at Tiny Friends Sanctuary we would like to encourage you to add a pet to your family. Adopting an animal can change your as well as the animals whole world for the better. Not only do animals give you unconditional love, but they have been shown to be psychologically, emotionally and physically beneficial to their companions. Caring for a pet can provide a sense of purpose and fulfillment and lessen feelings of loneliness.</p>
        <p>When you adopt, you can also feel proud about helping an animal in need. As well as giving an animal a safe and warm home you are giving a tiny soul a chance to a happy life. In addition you are also helping to change societies attitude and encouraging others to adopt. For every animal that gets adopted, we will able to help another homeless animal find its forever home.</p>
    </div>
</section>